@import 'tailwindcss';

html{
    scroll-behavior: smooth;
}

/* Neon Glow Effect */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #06b6d4, #3b82f6);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(59, 130, 246, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6, #8b5cf6);
  box-shadow: 0 0 12px rgba(59, 130, 246, 0.8);
}

